@model List<ContactoModel>

@{
    ViewData["Title"] = "Listar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card">
    <div class="card-header">
        Crear Contacto
    </div>
    <div class="card-body">

        <a asp-action="Guardar" asp-controller="Contacto" class="btn btn-success">Crear Nuevo</a>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Telefono</th>
                    <th scope="col">Correo</th>
                    <th scope="col">Acciones</th>
                </tr>
            </thead>
            <tbody>


                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Id</td>
                        <td>@item.Nombre</td>
                        <td>@item.Telefono</td>
                        <td>@item.Correo</td>
                        <td>
                            <a asp-action="Editar" asp-controller="Contacto" class="btn btn-primary" asp-route-idContacto="@item.Id">Editar</a>
                            <a asp-action="Eliminar" asp-controller="Contacto" class="btn btn-danger" asp-route-idContacto="@item.Id">Eliminar</a>
                        </td>
                    </tr>
                }

            </tbody>
        </table>



    </div>
</div>


